@btn-bg: #c94f4a;
@btn-purpure: #b2a3b5;
@btn-green: #78ca78;
@btn-text: #ffffff;
@btn-f-size: 14px;
@btn-height: 40px;

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: @btn-f-size;
    font-weight: 500;
    display: inline-block;
    padding: 0 20px;
    padding: 10px 60px;
    cursor: pointer;
    transition: background .3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 1px;
    color: @btn-text;
    border: none;
    background: @btn-bg;
    &__text {
        font-size: 20px;
        line-height: @btn-height;
        display: inline-block;
        height: @btn-height;
        vertical-align: middle;
    }
    &:hover {
        .rgba(background, @btn-bg, .7);
    }
    &:active {
        transition: none;
        background: @btn-bg;
    }
    &_green {
        background: @btn-green;
        &:hover {
            .rgba(background, @btn-green, .7);
        }
    }
    &_purpure {
        background: @btn-purpure;
        &:hover {
            .rgba(background, @btn-purpure, .7);
        }
    }
    &_wide {
        width: 100%;
    }
    &_upper {
        text-transform: uppercase;
    }
    &_big {
        text-transform: uppercase;
        .btn__text {
            line-height: 60px;
            height: 60px;
        }
        .fa {
            line-height: 60px;
            height: 60px;
        }
    }
    &_transparent {
        border: none;
        background: none;
    }
    .fa {
        font-size: 18px;
        line-height: @btn-height;
        height: @btn-height;
        vertical-align: middle;
        color: @btn-text;
        &:before {
            vertical-align: middle;
        }
        & + .btn__text {
            margin-left: 3px;
        }
    }
}
