.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-text {
    display: inline-block;
    vertical-align: middle;
}

.icon-block {
    display: block;
}

.icon-apple {
    width: 30px;
    height: 34.8px;

    fill: @white;
}

.icon-apteka {
    width: 25px;
    height: 25px;

    fill: @white;
}

.icon-bottle {
    width: 25px;
    height: 41px;

    fill: currentColor;
}

.icon-call {
    width: 54px;
    height: 54px;

    fill: currentColor;
}

.icon-cart {
    width: 41px;
    height: 41px;

    fill: currentColor;
}

.icon-check {
    width: 33px;
    height: 41px;

    fill: currentColor;
}

.icon-coffee {
    width: 33.7px;
    height: 32.5px;

    fill: @white;
}

.icon-fastfood {
    width: 35px;
    height: 35px;

    fill: @white;
}

.icon-futbolka {
    width: 36px;
    height: 33px;

    fill: @white;
}

.icon-kassa {
    width: 34px;
    height: 41px;

    fill: currentColor;
}

.icon-market {
    width: 33px;
    height: 30px;

    fill: @white;
}

.icon-store {
    width: 40px;
    height: 26.3px;

    fill: @white;
}

.icon-logo {
    background: url('../img/logo.png') no-repeat 0 0;
    width: 249px;
    height: 116px;
}

.icon-phone {
    background: url('../img/phone.png') no-repeat 0 0;
    width: 30px;
    height: 46px;
}

.icon-wifi {
    background: url('../img/icon-wifi.png') no-repeat 0 0;
    width: 20px;
    height: 15px;
}

.icon-net {
    background: url('../img/icon-net.png') no-repeat 0 0;
    width: 15px;
    height: 15px;
}

.icon-note {
    background: url('../img/icon-note.png') no-repeat 0 0;
    width: 12px;
    height: 15px;
}