body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-weight: 400;
    //font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

p {
    line-height: 1.71428;
    margin: 0 0 10px;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: #261b27;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    padding-top: 70px;
}

.grid {
    .clearfix;
    &__row {
        .clearfix;
        &_grey {
            background: #dfe0e0;
            padding: 20px 0 0;
            .grid__left {
            padding-right: 20px;

            }
        }
        &_white {
            background: @white;
            margin-top: -120px;

            .grid__right {
                border-left: 1px solid @grey;
            }
        }
    }
    &__left {
        float: left;
        width: 50.641%;
        .grid__inner {
            padding-left: 170px;
        }
    }
    &__right {
        float: right;
        width: 49.35897%;
        .grid__inner {
            padding-left: 70px;
            padding-right: 145px;
        }
    }
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
