body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-weight: 400;
    //font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

p {
    line-height: 1.71428;
    margin: 0 0 15px;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: #261b27;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    padding-top: 70px;
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
