.text-snippet {
    padding: 70px 0 50px;
    &_height {
        padding-bottom: 0;
    }
    &__left {
        float: left;
        width: 100px;
    }
    &__right {
        padding: 10px 0 0 110px;
    }
    &__img {
        display: block;
        max-width: 100%;
    }
}

.set-snippets {
    margin: 10px -10px 10px -30px;
    color: @white;

    .clearfix;
    &__item {
        float: left;
        width: 50%;
        padding: 0 10px;
    }
    &__inner {
        height: 280px;
        padding: 32px 40px;
        background: @blue-light;
    }
}