<div class="grid">
	<div class="grid__row">
		<div class="grid__left">

		</div>
		<div class="grid__right snippet">
			<div class="grid__inner">
				<h2 class="snippet__title title">
					Как мы работаем?
				</h2>
				<p class="snippet__text">
					Для быстрого ввода информации о товаре на складе товароведами используются терминалы сбора данных и сканеры штрих-кода. Для того, чтобы обеспечить передачу информации о товаре в программу, товаровед распечатывает этикетки на принтерах этикеток...
				</p>
				<a href="" class="link-more">
					<span class="icon-text">Подробнее</span>
					<i class="icon fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</div>