<div class="grid grid_2cols">
	<div class="grid__item">

	</div>
	<div class="grid__item snippet">
		<div class="grid__inner">
			<h2 class="snippet__title">Как мы работаем?</h2>
			<p class="snippet__text">
				Для быстрого ввода информации о товаре на складе товароведами используются терминалы сбора данных и сканеры штрих-кода. Для того, чтобы обеспечить передачу информации о товаре в программу, товаровед распечатывает этикетки на принтерах этикеток...
			</p>
			<a href="" class="link-more">Подробнее</a>
		</div>
	</div>
</div>