<div class="product-bundle">
	<h2 class="product-bundle__title">Полная автоматизация небольшого магазина</h2>
	<div class="product-bundle__price">122 990 р.</div>
	<a href="" class="product-bundle btn">подробнее</a>
</div>