<div class="product-bundle image-bg" style="background-image: url('http://www.freedigitalphotos.net/images/img/homepage/87357.jpg');">
	<div class="product-bundle__inner">
		<!-- Title -->
		<h2 class="product-bundle__title">
			Полная автоматизация небольшого магазина
		</h2>
		<!-- Price -->
		<div class="product-bundle__price price">
			122 990 р.
		</div>
		<a href="" class="product-bundle__btn btn">подробнее</a>
	</div>
</div>