<!-- Form -->
<form action="" class="form">
	<!-- Header -->
	<header class="form__header">
		<h2 class="form__title">
			Быстрая консультация
		</h2>
		<p class="form__text">
			Оставьте свой номер и наш ковбой перезвонит Вам через две минуты
		</p>
	</header>
	<label class="label">
		<!-- Input -->
		<input type="text" class="input" name="phone" placeholder="">
	</label>
	<!-- Submit -->
	<button class="btn" type="submit">позвоните мне</button>
</form>