<div class="reviews">
	<!-- Title -->
	<h2 class="reviews__title simple-title simple-title_small">
		Истории от клиентов
	</h2>
	<!-- Reviews slider -->
	<div class="reviews-slider jsReviewsSlider">
		<div class="reviews-slider__item image-bg" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7oKBu5gplgzx44JuSSAZ5z1z7J0kNYboJVbZj9zhnF_M1zQI')">
			<a class="reviews-slider__text">
				Автоматизация оказалась спасательной шлюпкой...
			</a>
			<div class="reviews-slider__author">
				Виктория Громова, H&M
			</div>
		</div>
		<div class="reviews-slider__item image-bg" style="background-image: url('http://farmgroup.tv/assets/uploads/people/LA_Saki_WebsiteFormat.jpg')">
			<a class="reviews-slider__text">
				Автоматизация оказалась спасательной шлюпкой...
			</a>
			<div class="reviews-slider__author">
				Виктория Громова, H&M
			</div>
		</div>
		<div class="reviews-slider__item image-bg" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7oKBu5gplgzx44JuSSAZ5z1z7J0kNYboJVbZj9zhnF_M1zQI')">
			<a class="reviews-slider__text">
				Автоматизация оказалась спасательной шлюпкой...
			</a>
			<div class="reviews-slider__author">
				Виктория Громова, H&M
			</div>
		</div>
	</div>
</div>