<!-- Title -->
<h2 class="title title_x-small">
	Поиск оборудования для
</h2>
<!-- Search devices -->
<ul class="search-devices">
	<li class="search-devices__item">
		<a href="" class="search-devices__link">
			<span class="search-devices__icon">
				<svg class="icon icon-futbolka" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<use xlink:href="icons/svg.svg#futbolka"></use>
				</svg>
			</span>
			<span class="icon-block">бутика</span>
		</a>
		<a href="" class="search-devices__link">
			<span class="search-devices__icon">
				<svg class="icon icon-fastfood" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<use xlink:href="icons/svg.svg#fastfood"></use>
				</svg>
			</span>
			<span class="icon-block">фастфуда</span>
		</a>
		<a href="" class="search-devices__link">
			<span class="search-devices__icon">
				<svg class="icon icon-coffee" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<use xlink:href="icons/svg.svg#coffee"></use>
				</svg>
			</span>
			<span class="icon-block">кафе</span>
		</a>
	</li>
	<li class="search-devices__item">
		<a href="" class="search-devices__link">
			<span class="search-devices__icon">
				<svg class="icon icon-apple" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<use xlink:href="icons/svg.svg#apple"></use>
				</svg>
			</span>
			<span class="icon-block">лавки</span>
		</a>
		<a href="" class="search-devices__link">
			<span class="search-devices__icon">
				<svg class="icon icon-market" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<use xlink:href="icons/svg.svg#market"></use>
				</svg>
			</span>
			<span class="icon-block">маркета</span>
		</a>
		<a href="" class="search-devices__link">
			<span class="search-devices__icon">
				<svg class="icon icon-apteka" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<use xlink:href="icons/svg.svg#apteka"></use>
				</svg>
			</span>
			<span class="icon-block">аптека</span>
		</a>
	</li>
</ul>