<footer class="site-footer grid">
	<div class="grid__left">
		<div class="grid__inner">
			<!-- Address -->
			<div class="contacts" itemscope="" itemtype="http://schema.org/Organization">
				<h2 class="contacts__title title">
					Контакты
				</h2>
				<a href="tel:+88005554545" class="btn btn_green contacts__button">
					<span itemprop="telephone">
						8-800-555-45-45
					</span>
				</a>
				<a href="tel:+88005554545" class="btn btn_purpure contacts__button">
					онлайн чат
				</a>
				<div class="contacts__address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
					<span itemprop="postalCode">414022</span>, г.
					<span itemprop="addressLocality">Москва</span>,
					<span itemprop="streetAddress">ул. Большая Бульварная, д. 7, оф. 313</span>
				</div>
				<a href="mailto:hello@kassa.market" class="contacts__link">
					<span itemprop="email">hello@kassa.market</span>
				</a>
			</div>
			<!-- Socials -->
			<ul class="socials">
				<li class="socials__item">
					<a class="socials__link" href="">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</li>
				<li class="socials__item">
					<a class="socials__link" href="">
						<i class="fa fa-vk" aria-hidden="true"></i>
					</a>
				</li>
				<li class="socials__item">
					<a class="socials__link" href="">
						<i class="fa fa-odnoklassniki" aria-hidden="true"></i>
					</a>
				</li>
				<li class="socials__item">
					<a class="socials__link" href="">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="grid__right">
		<div class="grid__inner">
			<!-- Footer navigation -->
			<nav class="footer-navigation">
				<ul class="footer-navigation__list">
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Кассы
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Фискальные регистраторы
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Сканеры штрихкодов
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Чековые принтеры
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Видеонаблюдение
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Дисплеи покупателя
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Денежные ящики
						</a>
					</li>
				</ul>
			</nav>
			<!-- Footer navigation -->
			<nav class="footer-navigation">
				<ul class="footer-navigation__list">
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Фискальные регистраторы
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Сканеры штрихкодов
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Чековые принтеры
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Видеонаблюдение
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Дисплеи покупателя
						</a>
					</li>
					<li class="footer-navigation__item">
						<a class="footer-navigation__link" href="">
							Денежные ящики
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>