<div class="gallery-dotts jsGalleryDotts">
	<div class="gallery-dotts__item"
		style="background-image: url('http://www.bridgend.cats.org.uk/uploads/images/homepage_banner/BranchBannerPlaceholder.jpg')">
		<div class="gallery-dotts__inner">
			<div class="gallery-dotts__block">
				<h2 class="gallery-dotts__title simple-title simple-title_white">
					Кассы для сувенирных лавок
				</h2>
				<div class="gallery-dotts__desc">
					<i class="icon icon-wifi"></i>
					<span class="icon-text">wi-fi</span>

					<i class="icon icon-net"></i>
					<span class="icon-text">GPRS</span>

					<i class="icon icon-note"></i>
					<span class="icon-text">печать чеков</span>
				</div>
				<div class="gallery-dotts__price price">
					29 999 p.
				</div>
				<a href="" class="gallery-dotts__btn btn">
					взять терминал
				</a>
			</div>
		</div>
	</div>
	<div class="gallery-dotts__item"
		style="background-image: url('http://cos.h-cdn.co/assets/16/20/1600x800/landscape-1463731673-gettyimages-887210-002.jpg')">
		<div class="gallery-dotts__inner">
			<div class="gallery-dotts__block">
				<h2 class="gallery-dotts__title simple-title simple-title_white">
					Кассы для сувенирных лавок 2
				</h2>
				<div class="gallery-dotts__desc">
					<i class="icon icon-wifi"></i>
					<span class="icon-text">wi-fi</span>

					<i class="icon icon-net"></i>
					<span class="icon-text">GPRS</span>

					<i class="icon icon-note"></i>
					<span class="icon-text">печать чеков</span>
				</div>
				<div class="gallery-dotts__price price">
					29 999 p.
				</div>
				<a href="" class="gallery-dotts__btn btn">
					взять терминал
				</a>
			</div>
		</div>
	</div>
	<div class="gallery-dotts__item"
		style="background-image: url('http://cos.h-cdn.co/assets/14/37/1600x800/nrm_1410452470-cats2.jpg')">
		<div class="gallery-dotts__inner">
			<div class="gallery-dotts__block">
				<h2 class="gallery-dotts__title simple-title simple-title_white">
					Кассы для сувенирных лавок 3
				</h2>
				<div class="gallery-dotts__desc">
					<i class="icon icon-wifi"></i>
					<span class="icon-text">wi-fi</span>

					<i class="icon icon-net"></i>
					<span class="icon-text">GPRS</span>

					<i class="icon icon-note"></i>
					<span class="icon-text">печать чеков</span>
				</div>
				<div class="gallery-dotts__price price">
					29 999 p.
				</div>
				<a href="" class="gallery-dotts__btn btn">
					взять терминал
				</a>
			</div>
		</div>
	</div>
</div>