<ul class="gallery-dotts jsGallery-dottsDotts">
	<li class="gallery-dotts__item"
		style="background-image: url('http://ghk.h-cdn.co/assets/15/18/1600x800/landscape-1430250970-cats-are-the-best-index.jpg')">
		<div class="gallery-dotts__block">
			<h2 class="gallery-dotts__title">
				Кассы для сувенирных лавок
			</h2>
			<div class="gallery-dotts__desc">
				<i class="icon"></i>
				<span class="icon-text">wi-fi</span>

				<i class="icon"></i>
				<span class="icon-text">GPRS</span>

				<i class="icon"></i>
				<span class="icon-text">печать чеков</span>
			</div>
			<div class="gallery-dotts__price">
				29 999 p.
			</div>
			<a href="" class="gallery-dotts__btn">
				взять терминал
			</a>
		</div>
	</li>
	<li class="gallery-dotts__item"
		style="background-image: url('http://cos.h-cdn.co/assets/16/20/1600x800/landscape-1463731673-gettyimages-887210-002.jpg')">
		<div class="gallery-dotts__block">
			<h2 class="gallery-dotts__title">
				Кассы для сувенирных лавок 2
			</h2>
			<div class="gallery-dotts__desc">
				<i class="icon"></i>
				<span class="icon-text">wi-fi</span>

				<i class="icon"></i>
				<span class="icon-text">GPRS</span>

				<i class="icon"></i>
				<span class="icon-text">печать чеков</span>
			</div>
			<div class="gallery-dotts__price">
				29 999 p.
			</div>
			<a href="" class="gallery-dotts__btn">
				взять терминал
			</a>
		</div>
	</li>
	<li class="gallery-dotts__item"
		style="background-image: url('http://cos.h-cdn.co/assets/14/37/1600x800/nrm_1410452470-cats2.jpg')">
		<div class="gallery-dotts__block">
			<h2 class="gallery-dotts__title">
				Кассы для сувенирных лавок 3
			</h2>
			<div class="gallery-dotts__desc">
				<i class="icon"></i>
				<span class="icon-text">wi-fi</span>

				<i class="icon"></i>
				<span class="icon-text">GPRS</span>

				<i class="icon"></i>
				<span class="icon-text">печать чеков</span>
			</div>
			<div class="gallery-dotts__price">
				29 999 p.
			</div>
			<a href="" class="gallery-dotts__btn">
				взять терминал
			</a>
		</div>
	</li>
</ul>