<ul class="gallery jsGallery">
	<li class="gallery__item"
		style="background-image: url('http://ghk.h-cdn.co/assets/15/18/1600x800/landscape-1430250970-cats-are-the-best-index.jpg')">
		<div class="gallery__block">
			<h2 class="gallery__title">
				Кассы для сувенирных лавок
			</h2>
			<p class="gallery__text">
				Быстрая автоматизация сувенирных лавок от маленьких до крупных сетевых магазинов
			</p>
		</div>
	</li>
	<li class="gallery__item"
		style="background-image: url('http://cos.h-cdn.co/assets/16/20/1600x800/landscape-1463731673-gettyimages-887210-002.jpg')">
		<div class="gallery__block">
			<h2 class="gallery__title">
				Кассы для сувенирных лавок 2
			</h2>
			<p class="gallery__text">
				Быстрая автоматизация сувенирных лавок от маленьких до крупных сетевых магазинов
			</p>
		</div>
	</li>
	<li class="gallery__item"
		style="background-image: url('http://cos.h-cdn.co/assets/14/37/1600x800/nrm_1410452470-cats2.jpg')">
		<div class="gallery__block">
			<h2 class="gallery__title">
				Кассы для сувенирных лавок 3
			</h2>
			<p class="gallery__text">
				Быстрая автоматизация сувенирных лавок от маленьких до крупных сетевых магазинов
			</p>
		</div>
	</li>
</ul>