<div class="gallery">
	<div class="gallery__list jsGallery">
		<div class="gallery__item"
			style="background-image: url('http://ghk.h-cdn.co/assets/15/18/1600x800/landscape-1430250970-cats-are-the-best-index.jpg')">
			<div class="gallery__inner">
				<div class="gallery__block">
					<h2 class="gallery__title title title_small">
						Кассы для сувенирных лавок
					</h2>
					<p class="gallery__text">
						Быстрая автоматизация сувенирных лавок от маленьких до крупных сетевых магазинов
					</p>
				</div>
			</div>
		</div>
		<div class="gallery__item"
			style="background-image: url('https://i.ytimg.com/vi/bcENL_Vdoqw/maxresdefault.jpg')">
			<div class="gallery__inner">
				<div class="gallery__block">
					<h2 class="gallery__title title title_small">
						Кассы для сувенирных лавок
					</h2>
					<p class="gallery__text">
						Быстрая автоматизация сувенирных лавок от маленьких до крупных сетевых магазинов
					</p>
				</div>
			</div>
		</div>
		<div class="gallery__item"
			style="background-image: url('https://tinhatsblog.files.wordpress.com/2016/04/1000-cats.jpg?w=1100')">
			<div class="gallery__inner">
				<div class="gallery__block">
					<h2 class="gallery__title title title_small">
						Кассы для сувенирных лавок
					</h2>
					<p class="gallery__text">
						Быстрая автоматизация сувенирных лавок от маленьких до крупных сетевых магазинов
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="gallery__controls">
		<button class="gallery__btn gallery__btn_prev jsGalleryBtnPrev"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
		<button class="gallery__btn gallery__btn_next jsGalleryBtnNext"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
	</div>
</div>