<header class="site-header">
	<div class="container">
		<svg class="icon icon-cart" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/svg.svg#cart"></use></svg>
		{{!-- Navigation --}}
		<nav class="navigation">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a href="" class="navigation__link">
						<i class="icon"></i>
						<span class="icon-text">кассы</span>
					</a>
				</li>
				<li class="navigation__item">
					<a href="" class="navigation__link">
						<i class="icon"></i>
						<span class="icon-text">чековые принтеры</span>
					</a>
				</li>
				<li class="navigation__item">
					<a href="" class="navigation__link">
						<i class="icon"></i>
						<span class="icon-text">для егаис</span>
					</a>
				</li>
			</ul>
		</nav>
		{{!-- Logo --}}
		<a class="logo"></a>
		{{!-- Phone --}}
		<a href="" class="site-header__link site-header__link_phone">
			<i class="icon icon_phone"></i>
			<span class="icon-text">8-800-555-45-45</span>
		</a>
		{{!-- Cart --}}
		<a href="" class="site-header__link site-header__link_cart">
			<i class="icon icon_cart"></i>
			<span class="icon-text">корзина</span>
			<span class="count">13</span>
		</a>
	</div>
</header>