<div class="grid">
	<div class="grid__row grid__row_grey">
		<div class="grid__left">
			<div class="grid__inner">
				<!-- Quick consultation form -->
				{{>main/quick-consultation}}
				<div class="set-snippets">
					<div class="set-snippets__item">
						<div class="set-snippets__inner">
							<!-- Search of devices -->
							{{>main/search-devices}}
						</div>
					</div>
					<div class="set-snippets__item">
						<div class="set-snippets__inner">
							<!-- Reviews -->
							{{>main/reviews}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid__right">
			<!-- Product bundle -->
			{{>main/product-bundle}}
		</div>
	</div>
	<div class="grid__row grid__row_white">
		<div class="grid__left">
			<div class="grid__inner">
				<!-- Text snippet -->
				<div class="text-snippet">
					<!-- Title -->
					<h2 class="text-snippet__title title">Автоматизация бутиков</h2>
					<p class="text-snippet__text">
						Для быстрого ввода информации о товаре на складе товароведами используются терминалы сбора данных и сканеры штрих-кода. Для того, чтобы обеспечить передачу информации о товаре в программу, товаровед распечатывает этикетки на принтерах этикеток...
					</p>
					<!-- Read more button -->
					<a href="" class="link-more">
						<span class="icon-text">Подробнее</span>
						<i class="icon fa fa-angle-right" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="grid__right">
			<div class="grid__inner">
				<!-- Text snippet -->
				<div class="text-snippet text-snippet_height">
					<div class="text-snippet__left">
						<img src="img/bottle.jpg" alt="" class="text-snippet__img">
					</div>
					<div class="text-snippet__right">
					<!-- Title -->
					<h2 class="text-snippet__title simple-title">Как правильно вести ЕГАИС</h2>
						<p class="text-snippet__text">
							В кассе не должно быть беспорядков как на диком западе
						</p>
						<!-- Read more button -->
						<a href="" class="link-more link-more_blue">
							<span class="icon-text">Подробнее</span>
							<i class="icon fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>