<div class="grid">
	<div class="grid__row grid__row_grey">
		<div class="grid__left">
			<div class="grid__inner">
				{{>main/quick-consultation}}
				<div class="snippet-set">
					<div class="snippet-set__item">
						<div class="snippet-set__inner">
							<h2 class="title title_x-small">
								Поиск оборудования для
							</h2>
							<ul class="search-device">
								<li class="search-device__item">
									<a href="" class="search-device__link">
										<span class="search-device__icon">
											<svg class="icon icon-futbolka" xmlns="http://www.w3.org/2000/svg" version="1.1">
												<use xlink:href="icons/svg.svg#futbolka"></use>
											</svg>
										</span>
										<span class="icon-block">бутика</span>
									</a>
									<a href="" class="search-device__link">
										<span class="search-device__icon">
											<svg class="icon icon-fastfood" xmlns="http://www.w3.org/2000/svg" version="1.1">
												<use xlink:href="icons/svg.svg#fastfood"></use>
											</svg>
										</span>
										<span class="icon-block">фастфуда</span>
									</a>
									<a href="" class="search-device__link">
										<span class="search-device__icon">
											<svg class="icon icon-coffee" xmlns="http://www.w3.org/2000/svg" version="1.1">
												<use xlink:href="icons/svg.svg#coffee"></use>
											</svg>
										</span>
										<span class="icon-block">кафе</span>
									</a>
								</li>
								<li class="search-device__item">
									<a href="" class="search-device__link">
										<span class="search-device__icon">
											<svg class="icon icon-apple" xmlns="http://www.w3.org/2000/svg" version="1.1">
												<use xlink:href="icons/svg.svg#apple"></use>
											</svg>
										</span>
										<span class="icon-block">лавки</span>
									</a>
									<a href="" class="search-device__link">
										<span class="search-device__icon">
											<svg class="icon icon-market" xmlns="http://www.w3.org/2000/svg" version="1.1">
												<use xlink:href="icons/svg.svg#market"></use>
											</svg>
										</span>
										<span class="icon-block">маркета</span>
									</a>
									<a href="" class="search-device__link">
										<span class="search-device__icon">
											<svg class="icon icon-apteka" xmlns="http://www.w3.org/2000/svg" version="1.1">
												<use xlink:href="icons/svg.svg#apteka"></use>
											</svg>
										</span>
										<span class="icon-block">аптека</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="snippet-set__item reviews">
						<div class="snippet-set__inner">
							<h2 class="reviews__title">
								Истории от клиентов
							</h2>
							<div class="reviews-slider jsReviewsSlider">
								<div class="reviews-slider__item image-bg" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7oKBu5gplgzx44JuSSAZ5z1z7J0kNYboJVbZj9zhnF_M1zQI')">
									<a class="reviews-slider__text">
										Автоматизация оказалась спасательной шлюпкой...
									</a>
									<div class="reviews-slider__author">
										Виктория Громова, H&M
									</div>
								</div>

								<div class="reviews-slider__item image-bg" style="background-image: url('http://farmgroup.tv/assets/uploads/people/LA_Saki_WebsiteFormat.jpg')">
									<a class="reviews-slider__text">
										Автоматизация оказалась спасательной шлюпкой...
									</a>
									<div class="reviews-slider__author">
										Виктория Громова, H&M
									</div>
								</div>

								<div class="reviews-slider__item image-bg" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7oKBu5gplgzx44JuSSAZ5z1z7J0kNYboJVbZj9zhnF_M1zQI')">
									<a class="reviews-slider__text">
										Автоматизация оказалась спасательной шлюпкой...
									</a>
									<div class="reviews-slider__author">
										Виктория Громова, H&M
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid__right">
			{{>main/product-bundle}}
		</div>
	</div>
	<div class="grid__row grid__row_white">
		<div class="grid__left">
			<div class="grid__inner snippet">
				<h2 class="snippet__title title">Автоматизация бутиков</h2>
				<p class="snippet__text">
					Для быстрого ввода информации о товаре на складе товароведами используются терминалы сбора данных и сканеры штрих-кода. Для того, чтобы обеспечить передачу информации о товаре в программу, товаровед распечатывает этикетки на принтерах этикеток...
				</p>
				<a href="" class="link-more">
					<span class="icon-text">Подробнее</span>
					<i class="icon fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="grid__right">
			<div class="grid__inner snippet">
				<h2 class="snippet__title">Как правильно вести ЕГАИС</h2>
				<p class="snippet__text">
					В кассе не должно быть беспорядков как на диком западе
				</p>
				<a href="" class="link-more link-more_blue">
					<span class="icon-text">Подробнее</span>
					<i class="icon fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</div>